html{}
body{ 
		margin: 0; 
		padding: 0; 
		background: #F1F1F1 url('../img/bg.png'); 
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		color: #252525;
		font-size: 14px;
	}

/* Common Items */
img{ border: 0; }

.b{ font-weight: bold; }
.tc{ text-align: center; }
.tr{ text-align: right; }
.fl{ float: left; }
.fr{ float: right; }
.clear{ clear: both; }
.clearl{ clear: left; }
.hide{ display: none; }

a{ color: #0084B4; }

/* Outer Container */
#O{ width: 1150px; padding: 0 25px; margin: auto; padding-top: 5.5em; }

/* Header */
#H{}
#H h1{ font-weight: bold; margin: 0; padding: 0; font-size: 2.1em; text-transform: uppercase; }
#H h1 a{ color: #252525; text-decoration: none; }
#H #social{ float: right; padding-right: 3em; }
#H #social img{ padding-left: 5px; }
#H h2{ font-weight: bold; margin: 0; padding: 0; font-size: 0.9em; text-transform: uppercase; color: #B4B4B4; }

/* Nav Tabs */
#Nav{}
#Nav>ul{ display: block; margin: 0; padding: 1.8em 0 0 0; }
#Nav>ul>li{ display: block; float: left; padding: 0; }
#Nav>ul>li{ width: 20%; margin: 0 2.2%; border: 2px solid #D4D4D4; border-radius: 4px; padding: 25px 0; height: 50px; }
#Nav>ul>li>a{ display: block; width: 50%; padding: 0.5em 1em; }
#Nav>ul>li>a:hover{ padding: 0.5em 1em 0.5em 2em; }

#Nav ul li#NBlog{ background: white url('../img/nav-blog.png'); background-position: center; }
#Nav ul li#NBlog a{ color: white; font-size: 1.6em; text-decoration: none; background: #a3a049; }
#Nav ul li#NProjects{ background: white url('../img/nav-code.png'); }
#Nav ul li#NProjects a{ color: white; font-size: 1.6em; text-decoration: none; background: #99432e; }
#Nav ul li#NAbout{ background: white url('../img/nav-about.png'); }
#Nav ul li#NAbout a{ color: white; font-size: 1.6em; text-decoration: none; background: #382c1f; }
#Nav ul li#NTwitter{ background: white url('../img/nav-twitter.png'); overflow: hidden; }

#Nav.ex{} /* Expanded navigation, main page only */
#Nav.ex>ul>li{ height: 300px; padding: 150px 0; }
#Nav.ex>ul>li#NTwitter{ height: 550px; padding: 25px 0; }

/* Twitter Feed */
#NTwitter>div{ padding: 0 0.75em; font-size: 0.8em; }
#NTwitter ul{ list-style: none; margin: 0; padding: 0;}
#NTwitter ul li{ clear: left; padding-bottom: 1em; }
#NTwitter ul li img{ padding-right: .5em; padding-bottom: 1em; float: left; }
#NTwitter a{ color: #0084B4; text-decoration: none; }

/* Content */
#C{ padding-top: 1.5em; }
#CC{ border: 1px solid #CCC; border-radius: 4px; background: white; width: 92%; margin: auto; padding: 0.5em 2em 3em 2em; font-size: 1.15em; color: #333; }

#CC h2{ margin: 0; padding: 0.8em 0 0 0; font-size: 2.2em; } /* Page Titles */
#CC h3{ margin: 0.8em 0 0.2em 0; padding: 0; font-size: 1.6em; }
#CC h4{}
#CC h5{ margin: 0 0 1em 0; padding:0; padding-left: 1.5em; font-size: 0.75em; color: #888; }
#CC h5 time{ border-bottom: 1px dashed #CCC; }

#CC h2 a,#CC h3 a,#CC h4 a,#CC h5 a{ color: black; text-decoration: underline; }

a.twitter{ background: url('../img/social/16px/twitter-2.png') no-repeat bottom left; padding-left: 19px; }
a.reddit{ background: url('../img/social/16px/reddit.png') no-repeat bottom left; padding-left: 19px; }
a.google{ background: url('../img/social/16px/google-plus-black.png') no-repeat bottom left; padding-left: 19px; }
a.facebook{ background: url('../img/social/16px/facebook.png') no-repeat bottom left; padding-left: 19px; }
a.github{ background: url('../img/social/16px/github.png') no-repeat bottom left; padding-left: 19px; }
a.linkedin{ background: url('../img/social/16px/linkedin.png') no-repeat bottom left; padding-left: 19px; }
a.stackoverflow{ background: url('../img/social/16px/stackoverflow.png') no-repeat bottom left; padding-left: 19px; }
a.flickr{ background: url('../img/social/16px/flickr.png') no-repeat bottom left; padding-left: 19px; }

/* Content: Blog */
.blogMini{ width: 65%; }

.blogPost{ padding-bottom: 2em; }

.blogMini a, .blogPost a{}
.blogMini a:visited, .blogPost a:visited{ color: #7F00FF; }
.blogMini p, .blogPost p{ text-indent: 1.5em; margin: 1em 3em; text-align: justify; }
.blogMini p.tr, .blogPost p.tr{ text-align: right; }

.blogMini img, .blogPost img{ max-width: 98%; outline: 1px solid #CCC; border: 3px solid white; margin: 5px 15px; }

.blogPost ul, .blogPost ol { margin: 0.3em 1.8em; }

pre{ font-size: 0.8em; margin: 0.3em 3em; padding: 0.2em 1em; border: 1px solid #BBB; background: #DDD; }
code{  }

.gist{ font-size: 0.9em; margin: 0.3em 3em; }

/* Content: About */
#aboutContent{ float: left; width: 70% }
#aboutFindMe{ float: left; width: 28%; }
#aboutFindMe ul{ list-style: none; margin:0; padding:0; }
#aboutFindMe ul li{ margin:0; padding:0; }

/* Content: Social Links */
#aboutFindMe ul li a{ display: block; height: 34px; padding-left: 38px; }
#aboutFindMe ul li a span{ position: relative; top: 15px; }

#aboutFindMe ul li a.twitter{ background: url('../img/social/32px/twitter-2.png') no-repeat; }
#aboutFindMe ul li a.reddit{ background: url('../img/social/32px/reddit.png') no-repeat; }
#aboutFindMe ul li a.google{ background: url('../img/social/32px/google-plus-black.png') no-repeat; }
#aboutFindMe ul li a.facebook{ background: url('../img/social/32px/facebook.png') no-repeat; }
#aboutFindMe ul li a.github{ background: url('../img/social/32px/github.png') no-repeat; }
#aboutFindMe ul li a.linkedin{ background: url('../img/social/32px/linkedin.png') no-repeat; }
#aboutFindMe ul li a.stackoverflow{ background: url('../img/social/32px/stackoverflow.png') no-repeat; }
#aboutFindMe ul li a.flickr{ background: url('../img/social/32px/flickr.png') no-repeat; }

/* Content: Login Block */
.loginform{ margin: auto; width: 340px; border: 1px solid #BBB; background: #DDD; border-radius: 4px; padding: 0.1em 1em; }
.loginform h3{ padding: 0; margin: 0; }
.loginform input[type="text"], .loginform input[type="password"]{ width: 240px; font-size: 1.05em; }
.loginform button, .loginform input[type="button"], .loginform input[type="submit"]{ cursor: pointer; background: #777; border: none; border-radius: 20px; color: #ffffff; display: inline-block; font-size: 1em; font-weight: bold; letter-spacing: 1px; margin: 0.5em 0; padding: 7px 25px; text-transform: uppercase; }
.loginform > form > span{ display: inline-block; width: 90px; }

/* Content: Error Block */
div.error{ border: 1px solid #99432e; background: #99432e; padding: 0.45em 1em; margin: 0.5em 0; border-radius: 4px; color: white; }
div.error span{ padding: 0.3em 1em; }

/* Content: Misc */
#disqus_identity{ display: none; }
#disqus_permalink{ display: none; }

/* Content: Admin */
.aPostList{ width: 100%; border-collapse: collapse; margin: 15px 0; }
.aPostList th{}
.aPostList td{border: 1px solid #CCC; padding: 3px 7px;}

/* Footer */
#F{ margin-top: 3em; font-weight: bold; padding-left: 5em; font-size: 0.9em; text-transform: uppercase; color: #B4B4B4; }


/* medium sized page [990 - 1225px] */
@media screen and (max-width: 1225px) {
	body{ font-size: 12px; }
	#O{ width: 940px; padding: 0 15px; margin: auto; padding-top: 4em; }
	#Nav>ul>li{ padding: 15px 0; height: 40px; }
	#Nav ul li#NTwitter{ padding: 8px 0; height: 54px; }
	#Nav>ul>li>a{ padding: 0.25em 0.5em; width: 60%; }
	#Nav>ul>li>a:hover{ padding: 0.25em 0.5em 0.25em 1em; }
	
	a.twitter,a.reddit,a.google,a.facebook,a.github,a.linkedin,a.stackoverflow,a.flickr{ background-image: none; padding-left: 0px; }
}

/* small sized page [< 990px; scrolling at 750px]*/
@media screen and (max-width: 990px) {
	body{ font-size: 11px; }
	#O{ width: 730px; padding: 0 10px; margin: auto; padding-top: 2em; }
	#Nav>ul>li{ padding: 9px 0; height: 38px; }
	#Nav ul li#NTwitter{ padding: 5px 0; height: 46px; }
	#Nav>ul>li>a{ padding: 0.25em 0.5em; width: 70%; }
	#Nav>ul>li>a:hover{ padding: 0.25em 0.5em 0.25em 0.9em; }
}