.navbar.navbar-inverse
    .navbar-inner
        a.brand(href="/Admin") Admin Interface
        .pull-right
            ul.nav
                li: a(href="/Admin/NewPost") New Post
        ul.nav
            li: a(href="/Admin/PostList") Posts
            li: a(href="/Admin/Images") Images