extends ../layout

block content

    include adminbar

    .pull-right
        .dropzone.dropimglead
            span Drag a file here to upload 
    
    h2 Images
    .row-fluid
        .span12
            #imageListFull