.blogPost

	h2 
		a(href="/Blog/102/Fitbit_vs._UP_Day_1") Fitbit vs. UP: Day 1
	h5 Posted on 
		time(pubdate="2011-11-10") November 10
			sup th
			|  2011
	
	div.tc: a(href="/usrimg/bp_102/up_combined_full.png"): img(src="/usrimg/bp_102/up_combined_full_1200.png")

	:markdown
		For the last year or so I have been on a bit of a diet and exercise routine in order to get myself in shape and more recently I have increased my level of workout and decreased my calorie intake somewhat. A few weeks ago I bought myself a [Fitbit](http://www.fitbit.com) to help me better track my daily exercise and overall fitness level as well as weight and sleeping habits asa bonus. Last week however I started seeing a myriad of reviews and information about the new [Jawbone Up](http://jawbone.com/UP) and was starting to think I might be missing out on something. 

		Long story short I picked up the UP on tuesday and started wearing it immediately. Below is my comparison of the UP vs. the Fitbit for my first full day using them in tandem.

	h3 Hardware

	:markdown
		The first thing to talk about is obviously the hardware. Both devices come nicely packaged and have a very simple and easy setup. For the Fitbit you are required to plug the USB base station into your computer an install the software; Whereas the UP requires that you plug it into your iPhone using the UP software available in the app store.

		The UP has the benefit that it is both waterproof (to 1 meter) and that it is situated comfortably on the wrist. The placement of this device is ideal for getting access to both start and stop the workout and sleep modes. And the waterproof nature of the device is a nice addition as the Fitbit does not fare well with water. The design of the UP goes along with all of Jawbone's other offerings and is both sleek and comfortable.  The only criticism I would have with this device is the cap for the stereo jack; it does not have a proper orientation and tends to twist around and I'm also afraid I will lose this cap at some point in the future.

		The Fitbit is designed similar to pedometers that I have seen and used in the past; it is designed to be placed on a belt or clipped to your pocket (I keep mine on my right hand pocket). The display on the Fitbit is amazing and allows you to keep basic track of your progress throughout the day without having to sync the device in any way. Also the wireless syncing of the device is a great plus as it mean I do not have to do anything special with the device to get my data onto the Fitbit website. The problem with this design I have found is the fact that you might lose the device, as I almost did on this day (see below) and the lack of waterproofing keeps me from wearing the Fitbit during my morning workout (They specifically state not to get the Fitbit too sweaty in the instructions). Also of note is the wrist strap for the sleep monitoring is less comfortable then the UP but all in all not too bad.

	h3 Goals
	:markdown
		Both device allow you to set goals for yourself. 

		The UP allows you to set a steps per day goal, a sleep goal and a meal goal. The offerings in this respect are highly lacking. For the meal goal you can choose between 1,2,3 or 4 "energizing" meals (whatever that means), while the sleep goal only allows you to choose between 5,7,8 and 10 hours of sleep; the sleep goal does not even differentiate between light and deep sleep. And worst of all is the steps goal, you can choose between 2500, 5000, 7500 and 10000... thats it. Now I don't know about most people out there but 10,000 steps in a day is laughable for me, my daily walk to work is 4000-4500 steps each way, and the 20 min run I did added another 2700 steps into the mix.  Personally I find these goals to be insufficient; why can't we enter in our own goal numbers? 

		The Fitbit on the other hand allows you to set all sorts of goals, weight, calories burned, calories eaten, floors climbed, distance traveled and even allows you to set your own custom thing to track. All of these are settable to anything you would like and the steps and stairs are tied to badges. 

		In the goals criteria the Fitbit is clearly the winner.

	h3 The Graph
	:markdown
		Both the Fitbit and the UP have a graph to show you your progress and timing of various events on a timeline. The UPGraph can be seen at the top of this post and the Fitbit version here:

		The graph for the UP is provided on the iPhone exclusively, is very detailed and provides some very nice divisions between your activities for the day. However you will notice compared to the Fitbit graph the peaks and valleys of the graph do not seem to linearly correspond to the level of activity performed; the running portion of my day shows at almost the same height of my walk from work to home with little difference for even slow walking.

		The Fitbit offers up a simple graph  that lets you switch between a few of the metrics they track (calories burned, steps, floors and active score) and hovering over the items gives the value. Simple, but it works.

		I love the presentation of the data in the UP app, but it needs some tweaking.

	h3 My Day
	:markdown
		Lets see how well these 2 devices were able to track my day.

	h4 Morning Workout
	:markdown
		My morning workout this day consisted of a warmup then 16 min running a circuit of 4 activities 11 times. It was a fairly intense workout but does not require me to make too many actual footsteps.

		The morning workout is broken out from the daily charts on the UP by tapping that section; you can see clearly the amount of steps I took. however it appears that the UP has misinterpreted my warmup (squats, pushups and sit-ups) as quite a few steps or whatever the bars represent(its not entirely clear if these bars are activity or steps, but I am inclined to assume steps). This graph isn't really useful as is for a standard workout.

		The Fitbit on the other hand I did not wear for this workout as it explicitly says to keep away from sweat and would be about as effective as the UP in this regard. The web interface for the Fitbit allows me to enter in that I did a workout and it applies from calories to that event.

		Both devices fail at giving any relevant tracked information but the Fitbit is slightly better due to your ability to enter in non-walking/running activities into your schedule.

	h4 Lunch & Snacks
	:markdown
		For lunch I had a smoked meat sandwich from Druxies, sadly however I forgot to take a picture of the meal for the UP.

		The UP for meals has you take a picture of your meal then will later ask you how that meal made you feel.  I forgot to do this with my lunch this day but I did do it the next day. The information tracked from this seems like it might be useful if you were able to see your meals all grouped together somewhere or something, however the only place they really show is in your feed and your graph. As it stands I see this feature as basically useless since it does not track your calories or any other useful information about your meal.

		The Fitbit software on the other hand offers a very comprehensive set of tools for finding your food and adding it in at any point in your day, so you can leave it until the end of the day to enter everything. Calorie counts are also some of the very useful information Fitbit provides along with telling you where your calories came from (protean, fat, carbs).

		The UP food section seems to be more of a novelty then anything and I have so far not found it useful at all.  The Fitbit food section has proved to be very useful in keeping track of my daily intake.

	h4 Evening Run
	:markdown
		After work I decided to go for a quick run (20 min) on the treadmill to see how well both devices tacked your movement doing what they were designed to do. 

		For comparison the treadmill itself gave the following stats: 19:33 sec run, 6% grade, avg speed 5.1mph(8.2kph), 1.67 miles (2.66km) traveled, 322 calories burned. 


		As you can see from the above the the UP was more accurate in estimating my stride for the run but both came very close for the calories burned.  I have a feeling the Fitbit results might be better if I were to set the values for walk and run stride length in the settings but as of yet I have not.

	h4 Sleep
	:markdown
		I went to sleep shortly after midnight and woke up shortly after 5:35AM

		The sleep tracker is clearly where the UP shines, everything from the graphs to the comfort of the bracelet to the bracelet based alarm are amazing. Where the Fitbit only shows active and inactive (i.e. sleep or awake) the UP shows deep sleep and light sleep;  the up also uses this information to determine when to wake you up (within 30 min).

		If I could only suggest 1 thing for the Jawbone guys to add it would be to allow different times for the alarm, right now you are limited to 1 alarm at 1 time (and only at 15 min intervals) if you need to wake up at a different time on Tuesdays for instance you will have to connect the UP and sync.

	h3 Badges and Challenges
	:markdown
		Right now the challenges on the UP are pretty difficult to use, after joining a challenge you don't see your progress on that challenge and you have to sign up for every one you want to join.  There is no real master list of challenges, you either have to choose off the featured list or search.

		The Fitbit offers badges for milestones and will tell you how many time you have earned each (for the daily badges). And thats about it.

		I would love to see the challenges idea done on the Fitbit even if I didn't get much use out of it. The UP is just a terrible interface right now.  Both need improvement but as a fitness device you don't really need these features anyway.

	h3 Activity History
	:markdown
		Viewing your activity for these devices in a historical context is very important to me as it allows me to track my progress and fitness level, this is/was the major selling point of these devices for me.  

		The UP provides almost no way to view your history in any meaningful context; you can view each day as a percentage of your goal as you traverse day by day or you can view the graph as 1 giant stream.  The lack of history of this device is disturbing, why can't I view a nice simple graph of my progress?

		The Fitbit on the other hand seems determined to log everything about you and provide graphs for these things, you can view the graphs by clicking the history tab and viewing any 30 day period. the graphs are great and show me a very nice graph of my progress. If you're willing to pay for it ($49 / year) you can also get access to some premium functions that show you your progress against the rest of the community.

	h3 Final Thoughts
	:markdown
		This has only been the first day of me using the UP but so far I'm disappointed. The Jawbone guys clearly know how to build a beautiful interface but lack the long term tracking appeal of the Fitbit. 

		Thankfully (I think) most if not all of the failings of the UP could be corrected in software. The only thing it lacks on a hardware level is the wireless syncing and the display that the Fitbit offers. If the Jawbone developers continue to improve the software and hopefully also offer up a web-based version of the data they could shift this device from the current novelty it is and move into more of a fitness device.

		_I will continue to use both devices and report on my progresses I go. Until next time._


#disqus_identity bp_102
#disqus_permalink
	a(href="http://mikevalstar.com/Blog/102/Fitbit_vs._UP_Day_1") http://mikevalstar.com/Blog/102/Fitbit_vs._UP_Day_1
#disqus_thread

script(type="text/javascript")
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'mikevalstar'; // required: replace example with your forum shortname
	disqus_identifier = $('#disqus_identity').html();
	disqus_url = $('#disqus_permalink a').attr('href');

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();

noscript Please enable JavaScript to view the 
	a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
a.dsq-brlink(href="http://disqus.com")blog comments powered by 
	span.logo-disqus Disqus