extends layout

block content

    .row
        .span12: h2 About
    .row
        .span6
            h3 Contact Me
            
            p 
                span.b Mike Valstar
                br
                a(href="mailto:mikevalstar@gmail.com") mikevalstar@gmail.com
                br 
                | #1074 209 Fort York Blvd.
                br
                | Toronto, Ontario
                br
                | M5V 4A1
            
        .span5
            h3 Find me on:
            ul
                li: a.twitter(href="http://twitter.com/#!/mikevalstar"): span Twitter
                li: a.google(href="https://plus.google.com/107235391839316017795r"): span Google+
                li: a.github(href="https://github.com/mikevalstar"): span GitHub
                li: a.stackoverflow(href="http://stackoverflow.com/users/197338/mike-valstar"): span StackOverflow
                li: a.reddit(href="http://www.reddit.com/user/mikevalstar/"): span Reddit
                li: a.facebook(href="https://www.facebook.com/mvalstar"): span Facebook
                li: a.flickr(href="http://www.flickr.com/photos/thrasher7/"): span Flickr
                li: a.linkedin(href="http://www.linkedin.com/profile/view?id=82063648"): span LinkedIn