h2 Blog

.blogMini
	h3 
		a(href="/Blog/108/Coding_with_Node.js_Part_4_Storing_Blog_Posts") Coding with Node.js: Part 4; Storing Blog Posts.
	h5 Posted on 
		time(datetime="2012-04-16") April 16
			sup th
			|  2012
	
	div.tc: img(src="/usrimg/node_js.png")
	
	:markdown
		With the admin login page completed we now need a list of blog entries and a way to create and edit them. So to start lets give ourselves an admin interface for blog posts that we can later integrate into the main website.

	p.tr: a(href="/Blog/108/Coding_with_Node.js_Part_4_Storing_Blog_Posts") Read More…

.blogMini
	h3 
		a(href="/Blog/107/Coding_with_Node.js_Part_3.1_Admin_Login_With_Mongo_Mongoose") Coding with Node.js: Part 3.1; Mongoose Sessions.
	h5 Posted on 
		time(datetime="2012-01-28") January 28
			sup th
			|  2012
	
	div.tc: img(src="/usrimg/node_js.png")
	
	:markdown
		This is a supplemental post to the previous tutorial to add in session handling into Mongo. You may have noticed after the last tutorial that when running the code in production you are alerted that Connect does not recommend the use of in-memory session storage for productions systems.
	
		Node is intended to be run as multiple processes on a larger production system and memory cannot be shared between these processes directly, so we will move the session storage to Mongo using session-mongoose.


	p.tr: a(href="/Blog/107/Coding_with_Node.js_Part_3.1_Admin_Login_With_Mongo_Mongoose") Read More…


.blogMini
	h3 
		a(href="/Blog/106/Coding_with_Node.js_Part_3_Admin_Login_With_Mongo_Mongoose") Coding with Node.js: Part 3; Admin login with Mongo &amp; Mongoose.
	h5 Posted on 
		time(datetime="2012-01-27") January 27
			sup th
			|  2012
	
	div.tc: img(src="/usrimg/node_js.png")
	
	:markdown
		Now that we have a working website model with error pages and some useful content the next step is to connect to a database so that we can later administer the content of the website and store it in the database.
	
		For this tutorial we are going to setup a simple login system into mongo with the help of mongoose. In the next tutorial add in the blog posts to the database.


	p.tr: a(href="/Blog/106/Coding_with_Node.js_Part_3_Admin_Login_With_Mongo_Mongoose") Read More…

.blogMini
	h3 
		a(href="/Blog/105/Coding_with_Node.js_Part_2_Error_Handling_and_404_pages_with_Express") Coding with Node.js: Part 2; Error Handling and 404 pages with Express.
	h5 Posted on 
		time(datetime="2012-01-18") January 18
			sup th
			|  2012
	
	div.tc: img(src="/usrimg/node_js.png")
	
	:markdown
		The next step for coding a website (for me) is to setup the error and 404 pages. The 404 page to be used to display something useful to the user when something cannot be found. A nice error page can also be helpful in debugging and for informing the general public that an error has occurred on your website.

	p.tr: a(href="/Blog/105/Coding_with_Node.js_Part_2_Error_Handling_and_404_pages_with_Express") Read More…

.blogMini

	h3 
		a(href="/Blog/104/Hashbang_URLs_and_Google") Simple Hashbang URLs and Google
	h5 Posted on 
		time(datetime="2011-11-15") November 15
			sup th
			|  2011
	
	div.tc: img(src="/usrimg/bp_104_hashbang.png")
	
	:markdown
		websites are increasingly becoming more and more dynamically loaded as opposed to a full page download for every page on a website. This website in particular is using Hashbang (shebang) style page loading to make page transitions more seamless; but this presents a problem both with google search and google analytics.  I'll discuss how I manage both of these problems and how you can design a website with seamless page transition as well as tracking these page changes with google analytics.
	
	p.tr: a(href="/Blog/104/Hashbang_URLs_and_Google") Read More…

.blogMini
	h3 
		a(href="/Blog/103/Coding_with_Node.js_Part_1_Getting_started_with_Express") Coding with Node.js: Part 1; Getting started with Express.
	h5 Posted on 
		time(datetime="2011-11-11") November 11
			sup th
			|  2011
	
	div.tc: img(src="/usrimg/node_js.png")
	
	:markdown
		I have once again decided to rewrite and this time in [node.js](http://nodejs.org/), I have rewritten the site both as a tutorial for new node.js developers as well as a personal blog and project page.

	p.tr: a(href="/Blog/103/Coding_with_Node.js_Part_1_Getting_started_with_Express") Read More…

.blogMini
	h3 
		a(href="/Blog/102/Fitbit_vs._UP_Day_1") Fitbit vs. UP: Day 1
	h5 Posted on 
		time(datetime="2011-11-10") November 10
			sup th
			|  2011

	div.tc: a(href="/usrimg/bp_102/up_combined_full.png"): img(src="/usrimg/bp_102/up_combined_full_1200.png")

	:markdown
		For the last year or so I have been on a bit of a diet and exercise routine in order to get myself in shape and more recently I have increased my level of workout and decreased my calorie intake somewhat. A few weeks ago I bought myself a [Fitbit](http://www.fitbit.com) to help me better track my daily exercise and overall fitness level as well as weight and sleeping habits asa bonus. Last week however I started seeing a myriad of reviews and information about the new [Jawbone Up](http://jawbone.com/UP) and was starting to think I might be missing out on something. 

	p.tr: a(href="/Blog/102/Fitbit_vs._UP_Day_1") Read More…

.blogMini		
	h3 
		a(href="/Blog/101/Brand_New_Once_Again") Brand New Once Again
		
	h5 Posted on 
		time(datetime="2011-11-09") November 9
			sup th
			|  2011
			
	div.tc: img(src="/usrimg/toronto_skyline.png")
	
	:markdown
		In what has become an annual tradition; I have re-written the website again. And this time I've re-written it in [node.js](http://nodejs.org/)…
	
	p.tr: a(href="/Blog/101/Brand_New_Once_Again") Read More…
