h2 Blog

.blogMini
	h3 
		a(href="/Blog/103/Coding_with_Node.js_Part_1_Getting_started_with_Express") Coding with Node.js: Part 1; Getting started with Express.
	h5 Posted on 
		time(datetime="2011-11-11") November 11
			sup th
			|  2011
	
	div.tc: img(src="/usrimg/node_js.png")
	
	:markdown
		I have once again decided to rewrite and this time in [node.js](http://nodejs.org/), I have rewritten the site both as a tutorial for new node.js developers as well as a personal blog and project page.

	p.tr: a(href="/Blog/103/Coding_with_Node.js_Part_1_Getting_started_with_Express") Read More…

.blogMini
	h3 
		a(href="/Blog/102/Fitbit_vs._UP_Day_1") Fitbit vs. UP: Day 1
	h5 Posted on 
		time(datetime="2011-11-10") November 10
			sup th
			|  2011

	div.tc: a(href="/usrimg/bp_102/up_combined_full.png"): img(src="/usrimg/bp_102/up_combined_full_1200.png")

	:markdown
		For the last year or so I have been on a bit of a diet and exercise routine in order to get myself in shape and more recently I have increased my level of workout and decreased my calorie intake somewhat. A few weeks ago I bought myself a [Fitbit](http://www.fitbit.com) to help me better track my daily exercise and overall fitness level as well as weight and sleeping habits asa bonus. Last week however I started seeing a myriad of reviews and information about the new [Jawbone Up](http://jawbone.com/UP) and was starting to think I might be missing out on something. 

	p.tr: a(href="/Blog/102/Fitbit_vs._UP_Day_1") Read More…

.blogMini		
	h3 
		a(href="/Blog/101/Brand_New_Once_Again") Brand New Once Again
		
	h5 Posted on 
		time(datetime="2011-11-09") November 9
			sup th
			|  2011
			
	div.tc: img(src="/usrimg/toronto_skyline.png")
	
	:markdown
		In what has become an annual tradition; I have re-written the website again. And this time I've re-written it in [node.js](http://nodejs.org/)…
	
	p.tr: a(href="/Blog/101/Brand_New_Once_Again") Read More…
