extends layout

block content
    
    img(src="/img/icon_initiator_512.png",style="height:256px; width:256px; margin-right: 1em; margin-bottom: 1em; float: left;")
    
    h2 Initiator
    
    p Initiative tracking for the iPad. Track your players hitpoints and their roll order; keep track of XP for your adventure and more...
    
    p Coming soon to the app store…
    
    p Please feel free to 
        a(href="mailto:mikevalstar@gmail.com") Email Me
        |  any questions, concerns or ideas for the application