!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        title #{title} - Mike Valstar - Programming &amp; Web Development
        
        link(rel="shortcut icon", href="/img/favicon.png")
        link(rel="apple-touch-icon", href="/img/apple_logo_512.png")
        link(rel="apple-touch-icon", sizes="57x57" href="/img/apple_logo_57.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/img/apple_logo_72.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/img/apple_logo_114.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/img/apple_logo_144.png")
        link(rel="apple-touch-icon", sizes="256x256", href="/img/apple_logo_256.png")
        link(rel="apple-touch-icon", sizes="512x512", href="/img/apple_logo_512.png")
        
        link(href="/RSS", rel="alternate", type="application/rss+xml", title="Mike Valstar - Programming &amp; Web Development")
        
        link(rel='stylesheet', href='/css/style.css')
        
        script(src='http://code.jquery.com/jquery-1.8.2.min.js', type='text/javascript')
        script(src='/js/jquery.tweet.js', type='text/javascript')
        script(src='/js/mikevalstar.js', type='text/javascript')

        script(type="text/javascript")
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1984894-13']);
            
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

    body#mikevalstar
        #O.container
            #H.row
                .span8
                    h1: a(href="http://mikevalstar.com/")
                        img(src="/img/logo_144.png") 
                        | Mike Valstar
                    h4 Web Development, Programming, Random Thoughts
                .span4
                    #social
                        a(href="/RSS"): i.icon-rss
                        a(href="https://github.com/mikevalstar"): i.icon-github
                        a(href="https://plus.google.com/107235391839316017795"): i.icon-google-plus
                        a(href="http://twitter.com/#!/mikevalstar"): i.icon-twitter
                    #twitter
                        Loading Twitter Status...
            
            #N.row
                .span11.offset1
                    ul
                        li#NBlog: a(href="/Blog") Blog
                        li#NProjects: a(href="/Projects") Projects
                        li#NAbout: a(href="/About") About
            #C
                .row
                    .span12
                        #CC
                            block content
                        
        
        #F
            .container
                .row 
                    #Fnav.span8
                        ul
                            li: a(href="/Blog") Blog
                            li: a(href="/Projects") Projects
                            li: a(href="/About") About
                    .span4 Mike Valstar &copy; 2012