extends layout

block content

    h2 Projects
    
    p Coming soon…
    
    p Please check out my 
        a.github(href="https://github.com/mikevalstar") github page
        |  for some of my current projects 